<div class="container" id="responsibilities">

    <h1>Responsibilities</h1>
    <section> 
        <ul class="list1">
            <li><h4 class="'score1">Placement Coordinator</h4>
                <h5>Coimbatore Institute of Technology</h5>
                <h6>May 2024 - Present
                </h6>
            </li>
            <li><h4 class="'score1">Event Joint Secretary</h4>
                <h5>ATHENA 2k22 by the Rotaract Club of Coimbatore Institute of Technology</h5>
                <h6>November 2022
                </h6>
            </li>
            <li><h4 class="'score1">Event Chairman</h4>
                <h5>HAPPY PLATE 2k22 by the Rotaract Club of Coimbatore Institute of Technology</h5>
                <h6>January 2022
                </h6>
            </li>
            
    </ul>
    </section>        
        
    
</div>