<div class="container mx-auto mt-4" id="experience">
    <h1>Professional Experience</h1>
    <div class="row" id="row1">
      <div class="col-md-6">
        <div class="card" style="width: auto;">
        <img src="assets/img/kslogo.png" class="card-img-top" alt="img1">
        <div class="card-body">
        <h5 class="card-title">KS Globals</h5>
        <h6 class="card-title">June 2023 - November 2023</h6>
            <h6 class="card-subtitle mb-2 text-muted">Project trainee - Flutter developer</h6>
        <p class="card-text">Hands-on experience in mobile application development, working on both web and mobile platforms using Flutter. Developed a mobile application along with the Team Lead for an Electric Vehicle charging stations provider client.</p>
        </div>
        </div>
      </div>   
      <br> 
         <div class="col-md-6">
            <div class="card" style="width: auto;">
                <img src="assets/img/kalviumlogo.png" class="card-img-top" alt="img2">
                <div class="card-body">
                <h5 class="card-title">Kalvium</h5>
                <h6 class="card-title">February 2024 - April 2024</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Content Intern - KQ Questions Author</h6>
                <p class="card-text">Created the entrance test questions for Kalvium, known as KQ, that covers a wide range of topics including fundamental computer science concepts, aptitude and reading comprehension.</p>
                </div>
            </div>
      </div>

    <br> 
  </div>
</div>