<div class="container mx-auto mt-4" id="project">
    <h1>Projects</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <img src="assets/img/project1.jpg" class="card-img-top" alt="project1">
        <div class="card-body">
        <h5 class="card-title">Rolodex</h5>
            <h6 class="card-subtitle mb-2 text-muted">Using C, Data Structures</h6>
        <p class="card-text">An application where the user can create their address book which stores personal information with their user ID and password.</p>
        <a href="https://github.com/swetha2662/Address-book-using-doubly-linked-list.git" class="btn "><i class="fab fa-github"></i> Github</a>
        </div>
        </div>
      </div>   
      <br> 
         <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/project2.jpg" class="card-img-top" alt="project2">
                <div class="card-body">
                <h5 class="card-title">Infotech Solutions</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Using Angular</h6>
                <p class="card-text">A Front-End application for the company Infotech Solutions designed using the Angular Framework,which portrays all company information.</p>
                <a href="https://infotech-solutions-angular-project.vercel.app/" class="btn  mr-2"><i class="fas fa-link"></i> Link</a> &nbsp;&nbsp;
                <a href="https://github.com/swetha2662/Infotech-Solutions---Angular-Project.git" class="btn"><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
      </div> 
      <br>    
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/project3.jpg" class="card-img-top" alt="project3">
                <div class="card-body">
                <h5 class="card-title">HRM Software</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Using c++, Data Structures</h6>
                <p class="card-text">An application where the HR can maintain the employee details and the employee can view their details using the credentials.</p>
                <a href="https://github.com/swetha2662/HRM-Software.git" class="btn "><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
         </div>

    <br> 
  </div>
</div>