
<div class="container" id="interest">
    <h1>Area of interests</h1>
    <section > 
        <ul class="list1">
            <li>Web Development &nbsp; &nbsp;<i class="bi bi-globe"></i></li><br>
            <li>Mobile Application Development &nbsp; &nbsp;<i class="bi bi-robot"></i></li><br>
            <li>Object Oriented Programming &nbsp; &nbsp;<i class="bi bi-cast"></i></li><br>
            <li>Database Management System &nbsp; &nbsp;<i class="bi bi-database-fill"></i></li><br>
            <li>Internet of Things &nbsp; &nbsp;<i class="bi bi-robot"></i></li><br>
            <li>Machine Learning &nbsp; &nbsp;<i class="bi bi-robot"></i></li><br>
    </ul>
    </section>
    
    
</div>
