
:host {
    display: block;
    color: white;
    /* padding: 2rem 2rem; */
}

section {
    margin-top: 2rem;
    margin-left: 2rem;
}

.list1 li{
    list-style: none;
    font-size: 20px;
    
}

.list1 li:hover{
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
}

:host.pc .container {
    display: grid;
    gap: 2rem 4rem;
    grid-template-columns: 1fr 1fr;
}

:host.pc h1 {
    grid-column: 1/3;
}

:host.pc section {
    margin-top: 1rem;
}
