:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%);
  }
  
  body {
    background: #111;
  }
  
  .row{
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left:2rem;
    margin-right: 2rem;
  }
  .card {
    background: #222;
    width: 150px;
    height:150px;
    padding-bottom: 15px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    /* border:5px solid  rgb(245, 218, 218); */
    border-radius: 70%;
    background-color: rgb(194, 236, 241);
    color: rgba(26, 19, 19, 0.8);
  }

  .card-img{
    margin: auto;
    position: center;
    width: 75px;
    height: 75px;
    border-radius: 10px;
  }
 
  .card:hover {
    background: var(--gradient);
    -webkit-text-fill-color: #fff;
    border: 5px solid #6cecec; 
    box-shadow: #222 1px 0 10px;
    text-decoration:double;
  }
