/* General styles */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 100%;
    overflow: hidden;
    padding: 2rem;
}

.name {
    color: white;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    flex: 1;
    overflow: hidden;
}

.name span {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    padding: 10px 0;
    text-shadow: 10px 8px 10px var(--black);
    margin-bottom: 0%;
    animation: slide-from-left 6s infinite; /* Apply animation to all spans */
}

.name span:nth-of-type(1) span {
    font-size: 2rem;
    color: var(--blue);
}

.name span:nth-of-type(2){
    display: inline-block;
    color: white;
    font-size: 2.5rem; /* Adjusted for better fitting */
    padding: 10px 0;
    text-shadow: 10px 8px 10px var(--black);
    margin-bottom: 0%;
    animation: slide-from-left 6s infinite; /* Animation added */
}
.name span:nth-of-type(3) {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    padding: 10px 0;
    text-shadow: 10px 8px 10px var(--black);
    margin-bottom: 0%;
    animation: slide-from-left 6s infinite; /* Animation added */
}

/* Image styling */
.img {
    text-align: center;
    animation: slide-from-right 6s infinite; /* Animation added */
}

.img img {
    max-width: 100%;
    width: 300px; /* Adjust this size as needed */
    height: auto;
}

/* Keyframes for text */
@keyframes slide-from-left {
    0% { transform: translateX(-100%); }
    20% { transform: translateX(0); }
    80% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* Keyframes for image */
@keyframes slide-from-right {
    0% { transform: translateX(100%); }
    20% { transform: translateX(0); }
    80% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

/* Host styles */
:host {
    display: block;
    padding: 4rem 2rem 4rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
    overflow: hidden;
}

:host.pc {
    padding: 4rem 2rem 4rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

:host.pc .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    :host.pc .container {
        flex-direction: column;
        text-align: center;
    }

    .img {
        margin-top: 2rem;
    }

    .img img {
        width: 200px; /* Adjust for smaller screens */
        height: auto;
    }

    .name span:nth-of-type(2),
    .name span:nth-of-type(3) {
        font-size: 1.2rem; /* Adjusted font size for smaller screens */
    }
}
