<div class="container" id="home">
    <div class="name">
      <span>
        <span>Hey, </span>I am
      </span>
      <br>
      <span>Swetha</span><br>
      <span>A versatile and aspiring student seeking new opportunities to learn different concepts and meticulously develop my skills. Recognized for my collaborative approach and attention to detail, I excel in diverse learning environments, leveraging my punctuality and multitasking abilities to achieve exceptional results.</span>
    </div>
    <div class="img">
      <img src="assets/img/Profile1.jpeg" alt="pic" />
    </div>
  </div>
  