
div{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

div:first-of-type{
    animation: appear 6s infinite;
}

div:last-of-type{
    animation: reveal 6s infinite;
}

div:last-of-type span{
    font-size: 33px;
    color: white;
    animation: slide 6s infinite;
}

.name {
    grid-row: 3/4;
    padding: 2rem;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.name span:nth-of-type(1) span {
    font-size: 2rem;
    color: var(--blue);
}

.name span:nth-of-type(2) {
    display: inline-block;
    color: var(--blue);
    font-size: 3rem;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: 8px;
    text-shadow: 10px 8px 10px var(--black);
    margin-bottom: 0%;
}

.img{
    display: inline;
}

@keyframes appear{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes slide{
    0%{margin-left:-800px;}
    20%{margin-left:-800px;}
    35%{margin-left:0px;}
    100%{margin-left:0px;}
}
@keyframes reveal{
    0%{opacity: 0; width: 0px;}
    20%{opacity: 1; width: 0px;}
    30%{width: 655px;}
    80%{opacity: 1;}
    100%{opacity: 0; width: 655px;}
}


:host {
    display: block;
    padding: 4rem 2rem 4rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
}

:host.pc {
    padding: 4rem 2rem 6rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

:host.pc .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

:host.pc .name {
    grid-row: 2/3;
    width: auto;
    margin: auto;
    margin-left: 0;
    margin-bottom: 0;
    height: max-content;
}

